<!--navbar-->


<!--<router-outlet></router-outlet>-->
<!--some home cards-->
  <div class="card-group">
    <div class="card">
      <img src="../../assets/earphone1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Zako Earphones</h5>
        <p class="card-text">Will be coming soon on sale Starting from 2000/- onwards</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/gym1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">SKIPPING ROPE BUY 1 GET 1 OFFER </h5>
        <p class="card-text">Will be coming soon on sale Starting from 200/- onwards</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/gym2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">2 kg Dumbles</h5>
        <p class="card-text">Will be coming soon on sale Starting from 1000/- onwards</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>

  <div class="card-group">
    <div class="card">
      <img src="../../assets/slippers2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Slippers for Home</h5>
        <p class="card-text">Will be coming soon on sale  Starting from 200/- onwards</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 1 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/slippers1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Slippers for Summers</h5>
        <p class="card-text">Will be coming soon on sale starts from 150/- onwards</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 1 mins ago</small>
      </div>
    </div>
 
  <!--coming soon -->
  <div class="card bg-dark text-white">
    <img src="../../assets/comingsoon.jpg" class="card-img" alt="..." height="600px">
    <div class="card-img-overlay">
      <h2 class="card-title">Sale Are Nearby Get Ready </h2>
      <h4 class="card-text">Amazing offers on Mobile,Laptop,Fasion and many more</h4>
      <p class="card-text">Will update by 2 days for some new offers</p>
    </div>
  </div>


 

  